body { scroll-behavior: smooth; padding: 0; margin:0; background-color: #000000; color: #fff; font-size: 16px; font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; text-transform: capitalize; }
h2 { font-size: 3.1vw; text-shadow: 2px 2px 5px black; }
.textborder { margin: auto; width: 950px; border: solid #fff; border-radius: 10px; background-color: rgba(0, 0, 0, 0.25); padding: 10px; vertical-align: top; box-shadow:0 0 20px #000; }
input[type=email] { padding-left: 5px; width: calc(100% - 10px); border-radius: 10px; }
input[type=text] { text-transform: capitalize; padding-left: 5px; width: calc(100% - 10px); border-radius: 10px; }
table, th, td, th { border: 0; text-align: left; font-weight: normal; }
select { padding-left: 5px; border-radius: 10px; width: 100%; text-align-last: center; }
#ifShowing { display: none; }

/* Background */
.fullscreen-bg { position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden; z-index: -100; background-color: lightyellow; }
.fullscreen-bg:after { content: ""; display:block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 75, 127, 0.2); background-image: radial-gradient(#000 33%, transparent 100%); background-size: 3px 3px; overflow: hidden; }

/* Panel */
#wrapper { position:absolute; z-index:10; top: 0; bottom: 0; left: 0; right: 0; height: 100%; margin: auto; padding:0; outline:none; overflow-x:hidden; overflow-y:overlay; }

/* Medium to Small Devices */
@media only screen and (max-width: 992px) {
	.textborder { margin: 0 15px; width: auto; }
}
