body { display: flex; flex-wrap: wrap; overflow-y: hidden; padding: 0; margin:0; background-color: #000000; color: #fff; font-size: 16px; font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; }
.mobileOnly { display: none; }
iframe {display: block; width:640px; height:360px; border:1;}
.videocontent { display: inline-block; position: relative; left: 50%; transform: translateX(-50%); max-width: 960px; max-height: 540px; width: calc(70vh * 1.777777777777778); height: 70vh; }
img { max-width: 100%; background-color: transparent; }
img.angle { max-width: 32px; width: 32px; max-height: 32px; height: 32px; margin-bottom: 10px; border-bottom: none; transition: all 0.5s; }
img.angle:hover { border-bottom: none; margin-bottom: 0px; }
.catHead { line-height: 64px; height: 64px; vertical-align: middle; color: #bfb4a0; background: url(../images/triCat.png) center center no-repeat; background-size: contain;}
.textborder { margin: auto; width: 950px; border: solid #fff; border-radius: 10px; background-color: rgba(0, 0, 0, 0.25); padding: 10px; vertical-align: top; box-shadow:0 0 20px #000; }
.appraiseborder { display: inline-block; text-align: justify; margin: 5px; border: solid thin #fff; border-radius: 10px; background-color: rgba(0, 0, 0, 0.25); padding-left: 20px; padding-right: 20px; width: 26%; vertical-align: top; box-shadow:0 0 20px #000; }
.workFlow { margin: 5px; border: solid thin #fff; border-radius: 10px; background-color: rgba(0, 0, 0, 0.25); padding-left: 20px; padding-right: 20px; width: 25%; vertical-align: top; }
a:link { text-decoration: none; padding: 1px; color: #858585; background-color: transparent; }
a:visited { text-decoration: none; color: #858585; background-color: transparent; }
a:hover { color:#1B1B1B; border-bottom: 2px solid #858585; }
a:active { color:#1B1B1B; border-bottom: 2px solid #858585; }
a.active { color:#1B1B1B; border-bottom: 2px solid #858585; }
a.consult:link { text-decoration: none; color: #C0D890; text-shadow: 0 0 10px #000; background-color: transparent; border:solid thin #C0D890; box-shadow:0 0 20px #000; border-radius: 10px; padding: 5px; }
a.consult:visited { text-decoration: none; color: #C0D890; text-shadow: 0 0 10px #000; background-color: transparent; border:solid thin #C0D890; border-radius: 10px; padding: 5px; }
a.consult:hover { text-decoration: none; color: #90C048; background-color: transparent; text-shadow: 0 0 10px #90C048; border:solid thin #90C048; border-radius: 10px; padding: 5px; }
a.print:link { color: rgba(255,255,255,0.75); }
a.print:hover { color: #fff; border-bottom: 2px solid #fff; }
.cLine { margin-left:-10px; margin-right:-10px; border: solid thin #fff; }
socialstrip { z-index:50; position: fixed; top:18px; left:10%; background-color: transparent; text-align: left; padding: 0; filter: opacity(0.7); } socialstrip:after { content: ''; display: inline-block; width: 100%; }
socialstrip li { display: inline-block; margin: 0 5px; }
.credit { display:block; margin-left:75px; margin-right: -25px; overflow-x:auto; color:#cccccc; font-style:italic; }
ul logosize { display: inline-block; width: 50vw; height: 50vw; max-width: 400px; max-height: 400px; }
ul logosize li { display: block; width: 100%; height: 100%; background-size: contain; }
ul logosize:nth-child(1) li { background-image: url('../images/JRGlogo.png'); box-shadow:0 0 20px #000; border-radius: 50%; }
ul logo { display: inline-block; width: 128px; height: 128px; margin: 10px; }
ul logo a { display: block; width: 100%; height: 100%; background-size: contain; }
ul logo:nth-child(1) a { background-image: url('../images/Google-Review.png'); opacity: 0.7; box-shadow: 0 0 20px #000; border-radius: 50%; transition: all 0.5s; }
ul logo:nth-child(1) a:hover { opacity: 1; box-shadow: none; }
#questionnaire { display: none; }
#clientform { padding: 5px; width: 100%; text-align: center; border-radius: 10px; background: #C0D890; font-weight: bolder; }
#ifEntity, #ifType, #ifAction, #ifTone, #ifCustom, #audioProvider, #ifShowing { display: none; }

/* Custom Scrollbar */
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track { background: rgba(0,0,0,0.2); border-radius: 10px; }
::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.5); border-radius: 10px; }

/* Background */
.fullscreen-bg { position: fixed; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden; z-index: -100; background: url(../images/ve_bg.jpg) center center no-repeat; }
.fullscreen-bg:after { content: ""; display:block; position: fixed; top:60px; bottom:60px; left:0px; right:0px; background: rgba(0, 75, 127, 0.2); background-image: radial-gradient(#000 33%, transparent 100%); background-size: 3px 3px; overflow: hidden; }
overtop { content: ""; display:block; position: fixed; top:0; height:60px; left:0; right:0; overflow: hidden; z-index:50; box-shadow:0 0 20px #000; background-color:#FFF; }
overbottom { content: ""; display:block; position: fixed; bottom:0; height:60px; left:0; right:0; overflow: hidden; z-index:50; box-shadow:0 0 20px #000; background-color:#FFF; }

/* Main Menu (mobile) */
.mobileBarContainer { z-index:50; position: fixed; display: none; top:10px; right:20px; cursor: pointer; }
.bar1, .bar2, .bar3 { width: 35px; height: 5px; background-color: #555; margin: 6px 0; transition: 0.4s; }
.change .bar1 { -webkit-transform: rotate(-45deg) translate(-9px, 6px); transform: rotate(-45deg) translate(-9px, 6px); }
.change .bar2 { opacity: 0; }
.change .bar3 { -webkit-transform: rotate(45deg) translate(-8px, -8px); transform: rotate(45deg) translate(-8px, -8px); }

/* Navigation Bar */
menu { z-index:100; position: fixed; font-size: 16px; top:5px; left: auto; right:10%; padding: 0px; height: auto; text-align: right; background-color: transparent; box-shadow: none; }
menu li { display: inline-block; margin: 0px 5px; }
menu li.active a { color:#1B1B1B; border-bottom: 2px solid #858585; }

/* Panels */
wrapper { position:absolute; z-index:10; scroll-behavior: smooth; top:60px; bottom:60px; left: 0; right: 0; height: calc(100% - 120px); margin: auto; padding:0; outline:none; overflow-x:hidden; overflow-y:overlay; }
section { position:relative; z-index:40; top:calc(100%-1); height: auto; box-shadow:0 0 20px #000; border-top: 4px solid #fff; }
#fixedpanel1 { position:fixed; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); z-index: -99; text-align: center; }
#fixedpanel2 { position:fixed; bottom: 60px; left: 50%; transform: translateX(-50%); z-index: -90; }
#home { top: 1; box-shadow: none; border-top: none; }
#intro { background: #9a8383; }
#services { background: #9a838e; }
#about { background: #83929a; }
#why, #workflow, #pricing { background: #83929a; box-shadow: none; border-top: none; }
#clients { background: #646464; }
#testimonials { background: #839a92; }

/* Footer */
#footer { z-index:50; display:block; position:fixed; width:100%; overflow:hidden; bottom:10px; text-align:center; color: #858585; }

/* video box (intro) */
.Rvideo-box { text-align: center; padding: 0px; margin: 0px auto 0px auto; width: 100%; height: 100%; border: solid thin #fff; display: block; vertical-align: top; box-sizing: border-box; background-color: #000; position: relative; }
.Rvideo-box video { width: 100%; height: auto; display: block; padding: 0px; margin: 0px; }
.Rvideo-nosupport { color: #FFFFFF; padding-top: 110px; padding-bottom: 110px; }

/* Video Overlay Settings */
#cover {position:absolute; top:0; left:0; margin:0 auto; background:rgba(0,0,0,0.8); z-index:90; width:100%; height:100%; display:block; opacity:0; transform:scaleY(0); transform-origin:top; transition:opacity 1s, transform 0s; -moz-transition:opacity 1s, transform 0s; -o-transition:opacity 1s, transform 0s; -webkit-transition:opacity 1s, transform 0s;}
#overlayVid {position:absolute; width:640px; height:360px; z-index:100; box-shadow:0 0 25px #000; display:block; top:50%; left:calc(50% - 325px); margin-top:-245px; padding-bottom:0; color:#fff; background: url(../images/loading.gif) center center no-repeat; opacity:0; transform:scaleY(0); transform-origin:top; transition:opacity 1s, transform 0s; -moz-transition:opacity 1s, transform 0s; -o-transition:opacity 1s, transform 0s; -webkit-transition:opacity 1s, transform 0s;}
#clip_reel, #clip_reelMotion, #clip_reelAuteur, #clip_reelEdit, #clip_genero, #clip_dinta, #clip_gilda, #clip_basics, #clip_eod, #clip_mj, #clip_eow, #clip_eom, #clip_jj, #clip_bees, #clip_rivet, #clip_oss, #clip_aesop, #clip_jackbox, #clip_house, #clip_stears, #clip_gwaiting, #clip_gbrain, #clip_gburn, #clip_ghwolf, #clip_gmiracle, #clip_gshelter, #clip_vprodreel, #clip_ovg, #clip_mylife, #clip_frontALZ, #clip_enlisted, #clip_grit, #clip_recycling, #clip_baby, #clip_beaver, #clip_stick, #clip_WUAT, #clip_warALS, #clip_happiness, #clip_reflections, #clip_boblo, #clip_dtrouble {position:absolute; margin:0 auto; z-index:30; display:block; top:46px; color:#fff; background-color:transparent; opacity:0;transform:scaleY(0); transform-origin:top; transition:opacity 1s, transform 0s; -moz-transition:opacity 1s, transform 0s; -o-transition:opacity 1s, transform 0s; -webkit-transition:opacity 1s, transform 0s;}
#overlayVid:target, #overlayVid:target + #cover, #cover:target {opacity:2; transform:scaleY(1);}
.cancelA {position:absolute; top:0; left:0; background:rgba(245,245,245,0); color:black; height:100%; width:100%;}
.cancelA:hover {text-shadow:0 0 0px;}
.cancelB {position:absolute; display:block; top:3px; right:-3px; background:rgba(245,245,245,0); color:black; height:30px; width:35px; font-size:30px; text-decoration:none; text-align:center; font-weight:bold;}

/* Video Thumbs */
ul { width: auto; height: auto; padding: 0; margin: 0; list-style: none; }
/* Video Thumbs Documentary */
ul doc { display: inline-block; width: 160px; height: 160px; margin: 10px; outline: solid 2px #000; }
ul doc a { display: block; width: 100%; height: 100%; background-size: contain; }
ul doc:nth-child(1) a { background-image: url('../images/thumb_aesop.jpg'); opacity:0.5; transition: all 1s; }
ul doc:nth-child(1) a:hover { transform:scale(1.15); opacity:1; box-shadow: 0 0 20px #000; }
ul doc:nth-child(2) a { background-image: url('../images/thumb_mj.jpg'); opacity:0.5; transition: all 1s; }
ul doc:nth-child(2) a:hover { transform:scale(1.15); opacity:1; box-shadow: 0 0 20px #000; }
ul doc:nth-child(3) a { background-image: url('../images/thumb_jj.jpg'); opacity:0.5; transition: all 1s; }
ul doc:nth-child(3) a:hover { transform:scale(1.15); opacity:1; box-shadow: 0 0 20px #000; }
ul doc:nth-child(4) a { background-image: url('../images/thumb_vprod.jpg'); opacity:0.5; transition: all 1s; }
ul doc:nth-child(4) a:hover { transform:scale(1.15); opacity:1; box-shadow: 0 0 20px #000; }
ul doc:nth-child(5) a { background-image: url('../images/thumb_eow.jpg'); opacity:0.5; transition: all 1s; }
ul doc:nth-child(5) a:hover { transform:scale(1.15); opacity:1; box-shadow: 0 0 20px #000; }
/* Narrative */
ul nar { display: inline-block; width: 160px; height: 160px; margin: 10px; outline: solid 2px #000; }
ul nar a { display: block; width: 100%; height: 100%; background-size: contain; }
ul nar:nth-child(1) a { background-image: url('../images/thumb_jackbox.jpg'); opacity:0.5; transition: all 1s; }
ul nar:nth-child(1) a:hover { transform:scale(1.15); opacity:1; box-shadow: 0 0 20px #000; }
ul nar:nth-child(2) a { background-image: url('../images/thumb_house.jpg'); opacity:0.5; transition: all 1s; }
ul nar:nth-child(2) a:hover { transform:scale(1.15); opacity:1; box-shadow: 0 0 20px #000; }
ul nar:nth-child(3) a { background-image: url('../images/thumb_dtrouble.jpg'); opacity:0.5; transition: all 1s; }
ul nar:nth-child(3) a:hover { transform:scale(1.15); opacity:1; box-shadow: 0 0 20px #000; }
/* Music Video */
ul music { display: inline-block; width: 160px; height: 160px; margin: 10px; outline: solid 2px #000; }
ul music a { display: block; width: 100%; height: 100%; background-size: contain; }
ul music:nth-child(1) a { background-image: url('../images/thumb_gbrain.jpg'); opacity:0.5; transition: all 1s; }
ul music:nth-child(1) a:hover { transform:scale(1.15); opacity:1; box-shadow: 0 0 20px #000; }
ul music:nth-child(2) a { background-image: url('../images/thumb_gwaiting.jpg'); opacity:0.5; transition: all 1s; }
ul music:nth-child(2) a:hover { transform:scale(1.15); opacity:1; box-shadow: 0 0 20px #000; }
ul music:nth-child(3) a { background-image: url('../images/thumb_ghwolf.jpg'); opacity:0.5; transition: all 1s; }
ul music:nth-child(3) a:hover { transform:scale(1.15); opacity:1; box-shadow: 0 0 20px #000; }
ul music:nth-child(4) a { background-image: url('../images/thumb_gmiracle.jpg'); opacity:0.5; transition: all 1s; }
ul music:nth-child(4) a:hover { transform:scale(1.15); opacity:1; box-shadow: 0 0 20px #000; }
ul music:nth-child(5) a { background-image: url('../images/thumb_gshelter.jpg'); opacity:0.5; transition: all 1s; }
ul music:nth-child(5) a:hover { transform:scale(1.15); opacity:1; box-shadow: 0 0 20px #000; }
/* Corporate */
ul corp { display: inline-block; width: 160px; height: 160px; margin: 10px; outline: solid 2px #000; }
ul corp a { display: block; width: 100%; height: 100%; background-size: contain; }
ul corp:nth-child(1) a { background-image: url('../images/thumb_poverview.jpg'); opacity:0.5; transition: all 1s; }
ul corp:nth-child(1) a:hover { transform:scale(1.15); opacity:1; box-shadow: 0 0 20px #000; }
ul corp:nth-child(2) a { background-image: url('../images/thumb_psafety.jpg'); opacity:0.5; transition: all 1s; }
ul corp:nth-child(2) a:hover { transform:scale(1.15); opacity:1; box-shadow: 0 0 20px #000; }
ul corp:nth-child(3) a { background-image: url('../images/thumb_pqaqc.jpg'); opacity:0.5; transition: all 1s; }
ul corp:nth-child(3) a:hover { transform:scale(1.15); opacity:1; box-shadow: 0 0 20px #000; }
/* Wedding */
ul wed { display: inline-block; width: 160px; height: 160px; margin: 10px; outline: solid 2px #000; }
ul wed a { display: block; width: 100%; height: 100%; background-size: contain; }
ul wed:nth-child(1) a { background-image: url('../images/thumb_chapman.jpg'); opacity:0.5; transition: all 1s; }
ul wed:nth-child(1) a:hover { transform:scale(1.15); opacity:1; box-shadow: 0 0 20px #000; }
ul wed:nth-child(2) a { background-image: url('../images/thumb_skupien.jpg'); opacity:0.5; transition: all 1s; }
ul wed:nth-child(2) a:hover { transform:scale(1.15); opacity:1; box-shadow: 0 0 20px #000; }

/* Medium Devices */
@media only screen and (max-width: 992px) {
	.mobileOnly { display: block; }
	.textborder { margin: 0 15px; width: auto; }
	.workFlow { width: 250px; margin-left: 150px; margin-right: 150px; }
	.appraiseborder { width: auto; margin-left: 15px; margin-right: 15px }
	.imgS { width: 25%; height: auto; }
	menu { display: none; font-size: 22px; top: 40px; left: 0; right: 0; padding: 5px 20px; height: 100%; overflow-y: hidden; background-color: rgba(255,255,255,0.9); box-shadow: -5px 5px 50px #404040; }
	menu li { display: block; margin: 2px 5px; }
	.mobileBarContainer { display: block; }
	overbottom { display: none; }
	wrapper { bottom: 0; height: 100%; }
	.fullscreen-bg:after { bottom: 0; }
	#fixedpanel2 { bottom: 0; }
	#footer { display: none; }
	#overlayVid { position: relative; margin:auto; top: 30vh; left:0; height: 0; width:auto; padding-bottom: 55%; }
	iframe { position: absolute; width: 100%; height: 100%; top:0; bottom:0; left:0; right:0; margin:auto; }
	socialstrip { top:20px; left:19px; }
	h2.fontresize { font-size: 3.1vw; }
}
/* Small Devices */
@media only screen and (max-width: 650px) { .workFlow { width: calc(100% - 55px); margin-left: 0; margin-right: 0; } .frame { padding-top: 56.25%; } }
/* Extra Small Devices */
@media only screen and (max-width: 520px) {  }
/* Miniscule Devices */
@media only screen and (max-width: 390px) { h2 { font-size: 6vw; } }
@media only screen and (max-width: 350px) { .workFlow { font-size: 4vw; } }
@media only screen and (max-width: 280px) { #footer { bottom:2px; } }

@media only screen and (max-width: 992px) and (orientation: landscape) { iframe { width: 50%; height: 50%; } ul logosize { width: 40vh; height: 40vh; } h2.fontresize { font-size: 3.1vh; } img.angle { width: 5vh; height: 5vh; } }
@media only screen and (max-width: 992px) and (orientation: portrait) { iframe { border:0; } .videocontent { width: 100%; height: 100%; } }
@media only screen and (min-width: 992px) and (orientation: landscape) { ul logosize { width: 50vh; height: 50vh; } h2.fontresize { font-size: 3.1vh; } }